<div class="images">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"><u><i><b><p style="font-family:courier,arial,helvetica;color: #2f00ff;font-size: larger;">Corona19-Visualizer</p></b></i></u></a>
        <form class="form-inline">
            
             
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a class="p-2 text-dark" routerLink="/home"><button><h3>Click here to open Dashboard</h3></button></a></button>

        </form>
    </nav>
    <div></div> 
    <div class="container">

        <div style="background-image: url('sr.jpg');">
    
    </div>
</div>