
<div class="customcls">
    <img class="float_left"[src]=myimage>
</div>


<router-outlet></router-outlet>


<div Class="jumbotron bg-blue">
    <h1 Class="dsisplay-4"><font color="green"><b>Corona Covid-19 Tracker</b></font></h1>
    <p Class="lead"><font face="times" color="blue"><b>As the virus causes Covid-19 spread world wide, this dashboard shows the total number of active cases,recover cases, death cases all over india in statewise manner.</b></font></p>
    <hr Class="my-4">
    <p> <font color="blue"><b>"better to wear a mask than a ventilator
        , better to stay home than icu"</b></font>
        <table style="width:100%">
            <tr>
              <th><b><u><font color="red">symptoms</font></u></b></th>
              <th><b><u><font color="purple">prevention</font></u></b></th>
              <th><b><u><font color="green">treatment</font></u></b></th>
            </tr>
            <tr>
              <td>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
              <b> Most common symptoms:</b>
                fever,
                dry cough,
                tiredness,
              <b> Less common symptoms:</b> 
                aches and pains,
                sore throat,
                diarrhoea,
                conjunctivitis,
                headache,
                loss of taste or smell,
                a rash on skin, or discolouration of fingers or toes.</td>
              <td>
                Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority.
                To prevent the spread of COVID-19:
                Clean your hands often. Use soap and water, or an alcohol-based hand rub.
                Maintain a safe distance from anyone who is coughing or sneezing.
                Wear mask when physical distancing is not possible.
                Don’t touch your eyes, nose or mouth.
                Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
                Stay home if you feel unwell.
                If you have a fever, cough and difficulty breathing, seek medical attention.
                Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.
              <b>  Masks</b>
                Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority</td>
              <td>
                If you feel sick you should rest, drink plenty of fluid, and eat nutritious food. Stay in a separate room from other family members, and use a dedicated bathroom if possible. Clean and disinfect frequently touched surfaces.
                Everyone should keep a healthy lifestyle at home. Maintain a healthy diet, sleep, stay active, and make social contact with loved ones through the phone or internet. Children need extra love and attention from adults during difficult times. Keep to regular routines and schedules as much as possible.
                It is normal to feel sad, stressed, or confused during a crisis. Talking to people you trust, such as friends and family, can help. If you feel overwhelmed, talk to a health worker or counsellor.
                </td>
            </tr>
          </table>

        
</div>
